.build/
.DS_Store
*.xcuserstate
*/xcuserdata
Private/

# ActionUI Python extension
ActionUIPython/actionui.egg-info/
ActionUIPython/__pycache__/
ActionUIPython/frameworks/
ActionUIPython/build/
ActionUIPython/dist/
ActionUIPython/*.so
